.searchpage{
    width: 100%;

}

.searchpage__body{
    display: flex;
}

.cardssection{
  max-height: calc(100vh - 30vh);
  overflow: auto;
  display: grid;
  grid-template-columns: auto auto auto;
  margin: 10px 10px;
  padding: 10px;
  gap: 1rem;
  background-color: #F7F7F7;
}