.sidebar__content{
    margin-top: 60px;
    margin-left: 50px;
    width: 250px;
}

.sidebar__content h2{
    background-color: #F6F6F6;
    font-size: 20px;
    font-weight: 300;
}

.sidebar__categories{
    display: flex;
    align-content: space-between;
    gap: 11rem;
 
    margin-bottom: 5px;
}