.SideBar__category{
    cursor: pointer;
    color: grey;
    border-bottom: 1px solid grey;
    max-height: calc(100% - 117px);
    overflow: auto;
  }
  
  p, h4{
    padding: 10px;
  }

  h4 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #eee;
    margin: 0;
  }
  
  p:hover{
    color: black;
    background-color: white;
  }